@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$font-primary: 'Space Grotesk';
$font-secondary: sans-serif;

html{
    font-family: $font-primary, $font-secondary;   
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}